.auth-wrapper {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1a0f2e, #05010d);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.auth-card {
  width: 380px;
  background: rgba(18, 11, 42, 0.85);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 40px 30px;
  color: white;
  box-shadow: 0 0 80px rgba(120, 0, 255, 0.45);
  border: 1px solid rgba(255,255,255,0.05);
}


.auth-header h2 {
  margin: 0;
  font-size: 22px;
}

.auth-header p {
  font-size: 14px;
  color: #aaa;
  margin-top: 6px;
}

.auth-tabs {
  display: flex;
  background: #1b1236;
  border-radius: 10px;
  margin: 20px 0;
}

.auth-tabs button {
  flex: 1;
  padding: 10px;
  background: transparent;
  border: none;
  color: #bbb;
  cursor: pointer;
  border-radius: 10px;
}

.auth-tabs .active {
  background: #2b1a57;
  color: white;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  background: #1c1235;
  color: white;
  outline: none;
}

.forgot {
  text-align: right;
  font-size: 12px;
  color: #7a6cff;
  margin-bottom: 10px;
  cursor: pointer;
}

.auth-main-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #6a00ff, #9b00ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.divider {
  text-align: center;
  margin: 20px 0;
  font-size: 12px;
  color: #888;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.social-btn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  background: #120b2a;
  color: white;
  cursor: pointer;
}

.auth-footer {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
  color: #777;
}
